<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title><%= yield(:title) %> / Co-working K</title>
  <%= favicon_link_tag 'favicon.ico', type: 'image/ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Co-working K", root_path, id: "logo" %>
      <nav>
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse target">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <% if @current_user.admin == true %>
                <li>
                  <%= link_to  accounts_path do %>
                    <i class="glyphicon glyphicon-list">Account</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to  users_path do %>
                    <i class="glyphicon glyphicon-user">User</i>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to  user_path(@current_user.id)  do %>
                    <i class="glyphicon glyphicon-user">User</i>
                  <% end %>
                </li>
              <% end %>
              <li>
                <%= link_to  logout_path, method: :delete  do %>
                  <i class="glyphicon glyphicon-log-out">LogOut</i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to  login_path  do %>
                  <i class="glyphicon glyphicon-log-in">LogIn</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer hidden-print">
    <small>
    Copyright 2016, Keisuke Inaba
    </small>
    <nav>
      <ul>
      </ul>
    </nav>
  </footer>

</body>
</html>
